<div class="view-container">
    <div class="view-content">
        <button (click)="onConfirmOperation()">Confirm</button>
        <button (click)="onBackClick()">Back</button>
        @for(item of data; track $index) {
        <div class="container-view__content">
            <p>{{title}}</p>
            @for(field of fields | keyvalue; track $index) {
            <form action="" class="view-form">
                <label>{{fields[$index]}}</label>
                @if(operation == '1') {
                    <input type="text" [value]=""> 
                }@else if(operation == '2') {
                    <input type="text" [value]="item[$index]" readonly> 
                }@else if(operation == '3') {
                    <input type="text" [value]="item[$index]"> 
                }
            </form>
            }
        </div>
        }
    </div>
</div>