<div class="view-container">
    <div class="view-content">
        <button (click)="onConfirmOperation()">Confirm</button>
        <button (click)="onBackClick()">Back</button>
        @for(item of data; track $index) {
        <div class="container-view__content">
            {{ item.data}}
            <p>Teste</p>
            @for(field of item | keyvalue; track $index) {
            <form action="" class="view-form">
                <label for="">{{field.key}}</label>
                <input type="text" [value]="field.value"> 
            </form>
            }
        </div>
        }
    </div>
</div>