<div class="view-container">
    <div class="view-content">
        <button (click)="onConfirmOperation()">Confirm</button>
        <button (click)="onBackClick()">Back</button>
        @for(item of data; track $index) {
        <div class="container-view__content">
            <p>Teste</p>
            @for(field of fields | keyvalue; track $index) {
            <form action="" class="view-form">
                <label>{{fields[$index]}}</label>
                <input type="text" [value]="item[$index]" readonly> 
            </form>
            }
        </div>
        }
    </div>
</div>